In [4]:

import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [5]:
a,b,c= "Bassam", 4, 7.0
print(a)
print(b)
print(c)

data = ("Bassam",7.0,8.9)
print(data[0])
print(data[2])

dt=("Bani", 89,9.3)
print(*dt) #print all of them

Bassam
4
7.0
Bassam
8.9
Bani 89 9.3

#List
dynamic length
hetrogenous data types (Multiple type)
index
postive 0 to n-1
negative -1 to length
slicing
variable names[start:end:step]
start : int = include
end : int = n-1
step : int = sequance

In [3]:
from typing import Any
characters : list[Any]=list('abcdefgh')
print(characters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [16]:
#                        0    1    2   3     4    5   6     7
characters : list[Any]=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
#                        -8   -7   -6  -5   -4   -3  -2    -1
print(characters)
print(characters[0:2])
print(characters[-8:-6])
print(characters[0:2:1]) #start index , ending index 2-1(mean 2 is not include),no.of steps
print(characters[0:6:2]) 
print(characters[:2]) #mean from the start to the ending 
print(characters[::1])#mean all by taking one step 
print(characters[::1])
print(characters[-1:-5])#return empty bcoz wo kabhi poonch he ni pae ga coz they move from left to right
print(characters[1:-4])
print(characters[-1:-4:-1])#reverse 
print(characters[::-1])#reverse

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'b']
['a', 'b']
['a', 'b']
['a', 'c', 'e']
['a', 'b']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
[]
['b', 'c', 'd']
['h', 'g', 'f']
['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [17]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
a: list[str] = [1,2,3,4,5]
#del a # remove object from memory
#a.clear() #remove all elements
print(a)
del a[4]
b=a.pop(2)
print(b)

name:list[str]=['a','b']
name.append('Bassam')#element in last 
name.append('Muhammad')
name.append('Hugin')

print(name)
name.insert(2,"Jibreel") #according to you
print(name)

[1, 2, 3, 4, 5]
3
['a', 'b', 'Bassam', 'Muhammad', 'Hugin']
['a', 'b', 'Jibreel', 'Bassam', 'Muhammad', 'Hugin']

In [3]:
a:list[str]=['a','b','c','d','e','f']
b=a
print(a)
print(b)
b[0]="Hugin"
#python is mutable mean editable u can edit in it
print(a)
print(b)
#result in added in both
c:list[str]=['a','b','c','d','e','f']
d=c.copy() #Deep Copy
print(c)
print(d)
d[0]="Pakistan"
print('c',c)
print("d",d)

['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']
['Hugin', 'b', 'c', 'd', 'e', 'f']
['Hugin', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']
c ['a', 'b', 'c', 'd', 'e', 'f']
d ['Pakistan', 'b', 'c', 'd', 'e', 'f']

In [29]:
a:list[int]=[1,3,4,6,1,2,3,4,3,8,3]
print(a.count(3))

4

In [34]:
name:list[str]=["Bassam","Hugin","effi"]
new_member:list[str]=["Muhammad","Jibreel","Bestie"]
name.append(new_member)
print(name)#but it append as it is object in my list we want names as index wise
 
member:list[str]=["Bassam","Hugin","effi"]
new_arrival:list[str]=["Muhammad","Jibreel","Bestie"]
member.extend(new_arrival)
print(member)

#help method for anything is help(print),object/method both help available object? object?? ,?object

['Bassam', 'jny', 'effi', ['Muhammad', 'Jibreel', 'Bestie']]
['Bassam', 'jny', 'effi', 'Muhammad', 'Jibreel', 'Bestie']

In [46]:
a:list[int]=[1,9,2,10,5,6,3,2,4,5,6,1]
a.remove(1) #first appearence
print(a)
print(a.index(1,2)) # mean k 2nd index k bad 1 ko dhoondna shuru kro 
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a.reverse() #in-memory not inline in-memory=change real data
print(a)

[9, 2, 10, 5, 6, 3, 2, 4, 5, 6, 1]
10
[1, 2, 2, 3, 4, 5, 5, 6, 6, 9, 10]
[10, 9, 6, 6, 5, 5, 4, 3, 2, 2, 1]
[1, 2, 2, 3, 4, 5, 5, 6, 6, 9, 10]

In [3]:
magicians: list[str] = ['alice', 'david', 'carolina']
list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]